*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: Arial, sans-serif;
}
header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #3e2723ec;
    z-index: 1000; 
}
header img{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul a{
    /* font-size: 1rem; */
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
}
nav ul a:hover{
     color: #f75453;
}

#banner{
    background:linear-gradient(rgba(0, 0, 0, 0.5),#07fffbb5),url(/images/banner3.jpg );
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 200px;
    margin-top: 100px;
}
.banner-text{
    text-align: center;
    color:aliceblue;
    font-size:3rem;
}
.banner-text h1{
    font-family: 'Kaushan Script', cursive; 
}
.banner-text P{
    font-size: 1.3rem;
    font-style: initial;
}
.banner-btn{
    margin-top: 100px;
}
.banner-btn a{
    text-decoration: none;
    color: aliceblue;
    padding:20px;
    font-size: 1rem;
    font-weight: bold;
    font-style: initial;
    border-radius: 50px;
    cursor:pointer ;
    background-color: #f75453;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.banner-btn :hover{
    background-color:bisque;
    color: #000;
}

#about{
    min-height: 100vh;
    box-sizing: border-box;
}
.section-container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 75px;
}
.section-text{
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.section-text span{
    background: linear-gradient(to right, #f75453 , #07fffbb5);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.line{
    position: relative;
    text-align: center;
    
}
.line img{
    width: 20px;
   
}
.line .left-line{
    left: 0;
}
.line .right-line{
    right: 0;
}
.left-line{
    position: absolute;
    top: 40%;
    width: 3%;
    margin-left: 45%;
    background: gray;
    height: 2px;
}
.right-line{
    position: absolute;
    top: 40%;
    width: 3%;
    margin-right: 45%;
    background: gray;
    height: 2px;
}
.about-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin: 50px auto; */
}
.about-img{
    /* margin-top: 50px; */
    position: relative;
}
.about-img img{
    width: 500px;
    animation: scaleImage 5s linear infinite;
}
@keyframes scaleImage {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1.2);
    }
}
.about-img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    background: #f75453;
    height: 100%;
    margin-left: 15px;
    margin-top: 15px;
    z-index: -2;
}

.about-text{
    margin: 50px;
   
}
.about-text h1{
    font-size: 2rem;
    font-style: oblique;
    
}
.about-text p{
    /* width: 80%; */
    margin-top: 30px;
    font-size: 1.2rem;
    font-style: initial;
}
.about-btn{
    margin-top: 50px; 
}
.about-btn a{
    text-decoration: none;
    color: aliceblue;
    padding:20px;
    font-size: .8rem;
    font-weight: bold;
    font-style: initial;
    border-radius: 50px;
    cursor:pointer ;
    background-color: #f75453;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.4s;
}
#services{
    background-color: #fbffef;
    min-height: 100vh;
    box-sizing: border-box;
}
.service-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
    column-gap:20px ;
    /* margin: 30px 20px; */
}
.item{
    border:1px solid #e7e7e7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding:30px 10px;
    border-radius: 5px;
    text-align: center;
    transition: background 1s, transform 1s;

}
.item:hover{
     background: #07fffbb5;
}
.item span i{
    font-size:5rem ;
    background: linear-gradient(to right, #07fffbb5, #f75453);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}
.item h1{
    font-size: 1.5rem;
}
.item p{
    font-size: 1rem;
}
#portfolio{
    min-height: 100vh;
    box-sizing: border-box;
}
.portfolio-grid{
    /* padding-top: 30px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 20px;
}

.item1{
    position: relative;
}
.item1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.5), #07fffbb5); 
    opacity: 0;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.item1:hover .overlay {
    opacity: 2;
}
.overlay h1 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1rem;
}

.overlay hr {
    width: 50%;
    border: 1px solid #ffffff;
    margin: 10px 0;
}
.overlay p{
    padding: 10px;
    font-size: .8rem;
}
#testimonial{
    min-height: 100vh;
    background-color: #fbffef;
    box-sizing: border-box;
}
.testimonial-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 30px 20px;
}
.item4{
    position: relative;
    background: #f75453;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 230px;
    margin: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.item4::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: #f75453 transparent transparent transparent;
  transform: translateX(-50px);
}
.item4:hover{
   transform: translateY(-10px);
}
#contact{
    min-height: 100vh;
    box-sizing: border-box;
}
.contact-flex{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
}
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}
textarea {
    width: 80%;
    height: 200px;
    padding:10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}
.contact-btn{
   margin-top: 20px;
}
.contact-btn a{
    text-decoration: none;
    color: aliceblue;
    padding:15px;
    font-size: .8rem;
    font-weight: bold;
    font-style: initial;
    border-radius: 50px;
    cursor:pointer ;
    background-color: #f75453;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.right-box {
    width:400px;
    height: 200px;
    padding: 30px;
    border: 1px solid #ccc;
    /* margin-bottom: 40px; */
  }
  
.right-box h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
.hours-flex {
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}
.right-flex, .left-flex{
    font-size:1rem;
}
#footer{
    background: #3e2723ec;
    min-height: 15vh;
    box-sizing: border-box;
}
.footer-container{
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
}
.footer-text{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .about-flex{
       flex-direction: column;
    }
    .about-text{
       text-align: center;
    }
    .service-grid{
        grid-template-columns:repeat(2, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-flex{
        height: 800px;
    }
}

@media screen and (max-width: 768px) {
    nav{
       flex-direction: row;
    }
    nav ul{
      
        gap: auto;
    }
    .container{
        padding: 200px;
    }
    .banner-text{
        width: 100%;
        font-size:2rem;
    }
    .banner-text h1{
        font-family: 'Kaushan Script', cursive; 
    }
    .banner-text P{
        margin-top: 20px;
        font-size: 1.2rem;
        font-style: initial;
    }
    .banner-btn a{
        padding:10px;
        font-size: .5rem;
    }
    nav ul a{
        font-size: .5rem;
    }
    .service-grid{
        grid-template-columns: 1fr;
    }
    .portfolio-grid{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 500px) {
    header{
        height: 120px;
    }
    header img{
        width: 100px;
    }
    nav{
        flex-direction: column;
     }
     nav ul{
       gap: 10px;
     }
     .container{
        padding: 50px;
        margin-top: 120px;
     }
     .banner-text{
         width: 100%;
         font-size:2rem;
     }
     .banner-text h1{
         font-family: 'Kaushan Script', cursive; 
     }
     .banner-text P{
         margin-top: 20px;
         font-size: 1.2rem;
         font-style: initial;
     }
     .banner-btn a{
         padding:10px;
         font-size: .5rem;
    }
    .section-container{
        padding: 90px;
    }
    .section-text{
        font-size: 1.5rem;
    }
    .about-img img{
        width: 300px;
    }
    .about-img::after{
        width: 300px;
    }
    .left-line{
        width: 10%;
        margin-left: 30%;
    }
    .right-line{
        width: 10%;
        margin-right: 30%;
    
    }
    .item{
        width: 250px;
        height: 250px;
    }
    .item4{
        width: 100%;
        height: 180px;
    }
    .item4 p{
        font-size: .8rem;
    }
    .client-name{
        font-size: .8rem;
    }
    .input-field {
        width: 90%;
    }
    textarea {
        width: 90%;
    }
    .contact-flex{
        width: 100%;
        height: 900px;
    }
    
    .right-box h1 {
        font-size: 1rem;
    }
    .right-flex, .left-flex{
        font-size:.7rem ;
        line-height: 1.5;
    }
}


